
body{
    background-color:#EBFEF2 ;
}

.navbar-brand{
    font-family: Arial Rounded MT bold;
    font-size: 30px;
}

.img{
    width:100%;
    max-height:1000px;

}
/*
=================================================
HERO SECTION
=================================================
*/
.custom-hero{
    background-image:url('image/car-header-purple.jpeg');
    background-size: cover;
    background-position:center;
}
.hero-f{
    color:whitesmoke;
}
